body{
    .list-item{
        margin:60px 0px;
        &__component{
            margin:10px 0px !important;
            cursor:pointer;
        }
    }
    .pagination{
        .item{
            width:50% !important;
        }
    }
    .container-modal{
        .card{
            margin:0 auto !important;
        }
    }
}