@import 'semantic';

body{
    .list-item{
        margin:60px 0px;
        &__component{
            margin:10px 0px !important;
            cursor:pointer;
        }
    }
    .pagination{
        .item{
            width:50% !important;
        }
    }
    .container-modal{
        .card{
            margin:0 auto !important;
        }
    }
    .ui.modal{
        width:93% !important;
    }
    .catch{
        background:#21BA45 !important;
        color:#fff !important;
        input{
            color:#fff !important;
        }
    }
    .no-catch{
        background:red !important;
        color:#fff !important;
        b{
            color:#fff !important;
        }
    }
}